@use "node_modules/bootstrap/scss/bootstrap";


.descriptionContainer {
    @extend .col-6;
    height: 100%;
    display: grid;
}


.descriptionDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2vw 0 2vw;
}
.title {
    font-size: 2.2vw;
    font-weight: bold;
    margin-bottom: 1rem;
}
.description {
    font-size: 1.5vw;
}